# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
.env/

# Environment variable files
*.env

# Flask instance folder
instance/
*.db
*.sqlite3

# Logs
*.log

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# IDE / editor settings
.vscode/
.idea/

# OS files
.DS_Store

# Packaging
build/
dist/
*.egg-info/

# Cache
.cache/
